.title{
  margin-bottom: 50px;
  flex-direction:  column;
}

body{
  background-color: #035931;
}


  .btnVoltar{
    margin-top: 2%;
    margin-left: -84%;
    margin-bottom: 2%;
    padding: 2%;
    font-size: 16px;
    border-radius: 6px;
    color: rgb(0, 0, 0);
    border: "none";
    font-weight: bold;
  }

  .notification{
    margin-left: 85%;
    margin-top: -7%;
    padding: 2%;
    color:#002A71;
  }