* {
  padding:0;
  margin:0;
  
}

body{
  background-color: #035931;
}

.title{
  margin-top: 50px;
  margin-bottom: 50px;
  flex-direction:  column;
}


  .notification{
    margin-left: 85%;
    margin-top: -7%;
    padding: 2%;
    color:#002A71;
  }