.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #002A71;
    padding-left: 5%;
}

.list{
    display: flex;
    list-style: none;
    color: cornsilk;
    align-items: center;
    padding-right: 5%;
}
